// output:extension/popup.html, pretty:true
doctype html
html
    head
        title vidl
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500", rel="stylesheet")
        link(rel="stylesheet", type="text/css", href="/popup.css")
    body
        .middle#options
            .options
                .audio
                    div.button
                        input(id="mp3", type="radio", name="radio")
                        label(for="mp3") MP3
                    div.button
                        input(id="aac", type="radio", name="radio")
                        label(for="aac") AAC
                .video
                    div.button
                        input(id="mp4", type="radio", name="radio")
                        label(for="mp4") MP4
        script(src="popup.js")
