$page-bg: radial-gradient(circle at 50% 20%, #0d6872, #1a4172)
$transition-28: 280ms cubic-bezier(0.4, 0.0, 0.2, 1.0)
$transition-3s: 3s cubic-bezier(0.4, 0.0, 0.2, 1.0)
$transition-bezier: cubic-bezier(0.4, 0.0, 0.2, 1.0)

$spacing: 20px

html, body, button, input
    margin: 0px
    padding: 0px
    font-family: "Rubik", sans-serif
    color: #FFFFFF
    outline: none
    border: 0px
input
    font-size: 14px
    &::placeholder
        color: rgba(#FFFFFF, 0.3)
button
    cursor: pointer

.spacer
    height: $spacing
    width: $spacing
html
    width: 100%
    height: 100%
body
    background: $page-bg
    width: 100%
    height: 100%
    box-sizing: border-box
    padding: 20px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .url input
        // background-color: rgba(#000000, 0.1)
        background-color: rgba(#000000, 0)
        border: 0px
        border-radius: 5px
        padding: 16px
        width: 500px
        max-width: 100%
        box-sizing: border-box
    .middle-container
        position: relative
        transition: all $transition-28
        height: 36px
        &.format-selection
            height: 36px
        &.loading-view
            height: 48px
            &.title-visible p.title, &.uploader-visible p.uploader
                opacity: 1
                transform: scale(1)
            &.title-visible
                height: 48px + 20px + 23px
            &.uploader-visible
                height: 48px + 20px + 23px
            &.uploader-visible.title-visible
                height: 48px + 20px + 23px*2
        > div
            position: absolute
            top: 0px
            transition: all $transition-28
            transform: translateX(-50%) scale(0.75)
            opacity: 0
            pointer-events: none
            &.visible
                pointer-events: all
                transform: translateX(-50%) scale(1)
                opacity: 1
        .format-selection
            display: flex
            button.format
                box-sizing: content-box
                min-width: 64px
                font-size: 16px
                height: 36px
                padding: 0px 16px
        .loading-view
            .spinner
                position: relative
                margin: auto
                width: 48px
                height: 48px
                .circle, .line
                    width: 48px
                    height: 48px
                    border-radius: 50%
                .circle
                    position: absolute
                    background-color: #FFFFFF
                    animation: scaleCircle 2s $transition-bezier infinite
                    @keyframes scaleCircle
                        0%
                            transform: scale(0.6)
                            opacity: 0.25
                        50%
                            transform: scale(0.3)
                            opacity: 0.5
                        100%
                            transform: scale(0.6)
                            opacity: 0.25
                .lines
                    position: absolute
                    width: 48px
                    height: 48px
                    animation: rotateLine 2s linear infinite
                    @keyframes rotateLine
                        0%
                            transform: rotate(0deg)
                        100%
                            transform: rotate(360deg)
                    .line
                        position: absolute
                        border: 4px solid transparent
                        box-sizing: border-box
                        animation: scaleLine 2s $transition-bezier infinite
                        @keyframes scaleLine
                            0%
                                transform: scale(1)
                                opacity: 0.4
                            50%
                                transform: scale(0.8)
                                opacity: 0.5
                            100%
                                transform: scale(1)
                                opacity: 0.4
                    .line-1
                        border-left-color: #FFFFFF
                    .line-2
                        border-right-color: #FFFFFF
            p
                opacity: 0
                transition: all $transition-28
                transform: scale(0.75)
                text-align: center
                margin: 0px
                padding: 2px
            p.title
                color: rgba(#FFFFFF, 1)
                font-size: 16px
            p.uploader
                color: rgba(#FFFFFF, 0.8)
                font-size: 15px


=cliackable($color, $base-opacity: 0, $scalePercent: 1)
    $scaleDivider: 1/$scalePercent
    .bg::before
        background-color: rgba($color, $base-opacity + 0.12)
    &:hover .bg::before
        background-color: rgba($color, $base-opacity + 0.12 + 0.06/$scaleDivider)
        transform: scale(1 - 0.1/$scaleDivider)
    &:focus .bg, &.focus-within .bg
        transform: scaleY(0.05)
    &.focus-within .bg::before
        background-color: rgba($color, $base-opacity + 0.12 + 0.24)
        // height: 5%
        // transform: scale(1 - 0.25, 1.0)
        transform: scale(1 - 0, 1.0)
    &.focus-within:hover .bg::before
        background-color: rgba($color, $base-opacity + 0.12 + 0.24)
        // transform: scale(1 - 0.4, 1.0)
        transform: scale(1 - 0.1/$scaleDivider, 1.0)

.clickable-light
    +cliackable(#FFFFFF)
    &.checked
        +cliackable(#FFFFFF, 0.10)
.clickable.url
    +cliackable(#FFFFFF, 0, 0.3)
.clickable
    position: relative
    background-color: transparent
    .bg
        transform-origin: bottom
        transition: $transition-28 all
        position: absolute
        pointer-events: none
        bottom: 0px
        left: 0px
        width: 100%
        height: 100%
        &::before
            content: ""
            position: absolute
            width: 100%
            height: 100%
            transition: $transition-28 all
            bottom: 0px
            left: 0px
            border-radius: 5px

.extension
    position: fixed
    top: 0px
    left: 0px
    align-items: center
    display: none
    &.visible
        display: flex
    svg
        width: 24px
        height: 24px
        padding: 10px
        margin: 10px
        cursor: pointer
        user-select: none
        &:hover + .extension-tooltip
            opacity: 1
            transform: translateX(0px) scale(1)
    .extension-tooltip
        transition: $transition-28 all
        opacity: 0
        transform: translateX(-20px) scale(0.9)
        transform-origin: left
        pointer-events: none
        // padding: 9px 16px
        // position: relative
        // &::after
        //     content: ""
        //     position: absolute
        //     top: 0px
        //     left: 0px
        //     width: 100%
        //     height: 100%
        //     border-radius: 5px
        //     background-color: rgba(#FFFFFF, 0.12)
