doctype html
html
    head.mdc-typography
        title vidl
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,500', rel='stylesheet')
        // favicons
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="manifest", href="/manifest.json")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        link(rel="shortcut icon", href="/favicon.ico")
        meta(name="msapplication-config", content="/browserconfig.xml")
        meta(name="theme-color", content="#ffffff")
        // css
        link(rel="stylesheet", type="text/css", href="/global.css")
    body
        .container
            .app-bar
                input.url(placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
        script(src="/global.js")
