doctype html
html
    head
        title vidl
        link(href="https://fonts.googleapis.com/css?family=Rubik:400", rel="stylesheet")
        // css
        link(rel="stylesheet", type="text/css", href="/popup.css")
        // better mobile
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        // chrome extension
        link(rel="chrome-webstore-item", href="https://chrome.google.com/webstore/detail/ofojemljpdnbfmjenigkncgofkcoacag")
        // favicon
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png?v=2")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png?v=2")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png?v=2")
        link(rel="manifest", href="/manifest.json?v=2")
        link(rel="mask-icon", href="/safari-pinned-tab.svg?v=2", color="#0d6872")
        link(rel="shortcut icon", href="/favicon.ico?v=2")
        meta(name="theme-color", content="#1a4172")
    body
        a.dl-link(download)
        .middle-container.format-selection(data-view="format-selection")
            .format-selection.visible
                button.clickable.clickable-light.format.mp3(data-format="mp3") MP3
                    .bg
                .spacer
                button.clickable.clickable-light.format.mp4(data-format="mp4") MP4
                    .bg
        script(src="/popup.js")
